@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

*{
  font-family: 'Roboto Slab', serif; ;
}

.container-home{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 2000px;
  max-height: 1000px;
}

h1{
  text-decoration-color: black;
  font-size: 14pt;
  width: 70%;
  max-width: 1000px;
}

.subcontainer{
  display: flex;
  flex-direction: column;
  margin: 10% 5%;
  padding: 20px 20px 20px 80px;
  border-radius: 10px;
  border: 3px solid #000000;
  background-image: radial-gradient(circle at 23.79% 31.65%, #b167db 0, #985ad9 16.67%, #784dd7 33.33%, #4d42d4 50%, #0039d1 66.67%, #0033cf 83.33%, #0030cc 100%);;
}

.textbox{
  width: 50%;
  border: 2px solid #000000;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 30px;
}

.textbox:hover{
  border:2px solid #808080;
  box-shadow: #000000;
  transition: .5s;
}

.button{
  max-width: fit-content;
  padding: 5px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 2px solid #000000;
  background-color: #b8b8b8;
}

.button:hover{
  background-color: #000000;
  color: #ffffff;
  transition: .6s;
}